@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movieCard h5 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    width: 100%;
    margin: 8px;
}

.movieCard:hover {
    transform: scale(1.1);
    z-index: 1;
}