@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

/*===============CONTAINERS================*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 14rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.container img {
  position: relative;
  width: 14rem;
  height: 20rem;
  border-radius: 8px;
  overflow-x: auto;
  border: 1px solid rgb(99, 99, 99);
  margin-top: 6rem;

}

.trends {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 11.5rem;
  width: 80rem;
  margin-left: 2.5rem;
  margin-right: -10rem;
  border-radius: 5px;
  margin-top: 5rem;
  margin-bottom: -5rem;
  overflow: auto;
}

.trends img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
  height: 14rem;
  margin-left: -20rem;
  width: 22rem;
  border-radius: 5px;
  margin-right: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: -1;
}

.trendsContainer {
  height: 56vh;
  width: 85rem;
  margin-top: -20rem;
  margin-bottom: 12.5rem;
  margin-left: 5.5rem;
  background-position: top center;
  border-radius: 8px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  z-index: -1;
}

.imageOverlay {
  background-color: rgba(255, 166, 0, 0.519);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/*===============END OF CONTAINERS================*/

/*===============HERO================*/
.heroContent h1 {
  font-size: 60px;
  font-weight: 800;
  font-family: Poppins;
  max-width: 60%;
  padding: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.heroContent p {
  font-size: 25px;
  font-weight: 400;
  font-family: Poppins;
  max-width: 45%;
  padding: 100;
  position: relative;
  top: 80;
}

.hero {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.heroContent {
  color: var(--header-color);
  background-color: transparent;

}

.moviePlay {
  color: var(--header-color);
  background: linear-gradient(to right,
      rgba(159, 79, 107, 100),
      rgba(182, 77, 94, 100));
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  margin-top: -16rem;
  width: 290px;
  height: 60px;
  border-radius: 8px;
  padding-left: 35;
}

#play {
  color: var(--header-color);
  position: absolute;
  font-size: 18px;
  left: 80;
  top: -212;
  width: 25px;
  height: 25px;
}

.buttons {
  position: absolute;
  left: 100;
  align-items: center;


}

#later {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 14px;
  font-family: Poppins;
  color: var(--color-bg-variant);
  margin-top: -14.5rem;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  padding-left: 35;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0 0.5px;
  position: absolute;
  left: 26rem;
}

/*===============END OF HERO================*/

/*===============HEADER================*/
.header {
  border: none;
  background: transparent;
  position: absolute;
  width: 100%;
}

.headerListing {
  gap: 150px;
  display: flex;
  flex-direction: column;
}

.headerListing>.headerList {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  padding: 50;
  gap: 50px;
  height: 20rem;
  background-color: none;
  margin-top: -1rem;
}

/* .headerList{
  padding: 100px;
  position: absolute;
} */

.headerListing li {
  position: relative;
  display: flex;
  gap: 10rem;
  flex-direction: row;
}

.headerList ul {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 2.5px solid var(--color-bg-variant);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20rem;
  gap: 5rem;
  height: 2.5rem;
  background-color: none;
}

#tabs li button {
  text-decoration: none;
  color: var(--color-bg-variant);
  /* display: flex;
  padding: 0.1rem 0.3rem; */
  border-radius: 30px;
  /* margin-left: 0.1rem; */
  transition: var(--header-color) 200ms ease-in-out;
  background-color: transparent;
}

#tabs {
  list-style: none;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
  align-items: center;
  padding: 20px;
  width: 40%;
  text-decoration: none;
}

#tabs>li button:hover,
#tabs>li button:focus {
  background: var(--color-bg-variant);
  border-radius: 40px;
  padding-left: 8rem;
  padding-right: 3rem;
  color: var(--header-color);
  height: 2rem;
  justify-content: center;
  align-items: center;
  transition: 200ms background-color ease-in-out;
  font-weight: 700;
}

/*===============END OF HEADER================*/

/*===============TRENDING HEADER================*/
.trailerVideos {
  background-color: var(--color-bg-variant);
  width: 83rem;
  height: 20rem;
  border-radius: 8px;
  position: relative;
  left: 300;
  top: 60;
}



