@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.posterImage {
  height: 60vh;
}

.posterImage_overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage_rating {
  font-weight: 500;
}

.posterImage_description {
  font-style: italic;
  font-size: 1rem;
  text-align: left;
  width: 30%;
  text-shadow: 0.5px 0px #000;
}

.posterImage_title {
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 0.5px 0px #000;
  text-align: left;
}

.posterImage_rating {
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
  text-align: left;
  align-items: flex-start;
}

/*===============CONTAINERS================*/
/* .container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 14rem;
  overflow-x: auto;
  overflow-y: hidden;
  height: 350px;
} */

.container img {
  position: absolute;
  width: 14rem;
  height: 300px;
  border-radius: 10px;
  overflow-x: auto;
  align-items: center;
}

/*===============END OF CONTAINERS================*/

/*===============HEADER================*/
.header {
  max-width: 100%;
  padding: 30px;
}

.headerListing > .headerList {
  font-size: 20px;
  font-weight: 600;
  gap: 20px;
  align-items: center;
  display: flex;
}

.headerListing li {
  display: flex;
  flex-direction: row;
  color: var(--header-color);
  align-items: center;
  display: flex;
}

.headerList ul {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 0.5px solid var(--header-color);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 5;
  max-width: 100%;
}

#tabs li button {
  text-decoration: none;
  color: var(--header-color);
  border-radius: 30px;
  transition: var(--header-color) 200ms ease-in;
  background-color: transparent;
  padding: 5;
}

#tabs {
  list-style: none;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  text-decoration: none;
}

#tabs > li button:hover,
#tabs > li button:focus {
  background: var(--header-color);
  color: var(--color-bg-variant);
  transition: width 200ms ease-in;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 40px;
  margin: 0;
  padding-left: 20;
  padding-right: 20;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    display: flex;
    max-width: 100%;
    z-index: -1;
  }

  .posterImage_description {
    display: none;
  }

  .posterImage_rating {
    display: none;
  }

  .buttons {
    display: none;
  }

  #later {
    display: none;
  }

  .header {
    display: none;
  }

  .hero {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 40vh;
    background-size: cover;
  }

  .heroContent h1 {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 14rem;
    margin-top: -30;
  }

  .container img {
    position: relative;
    width: 13rem;
    height: 16rem;
    border-radius: 8px;
    overflow-x: auto;
    margin-top: 30;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 0;
    width: 25px;
    margin-top: 20px;
  }

  .posterImage_description {
    display: none;
  }

  .posterImage_rating {
    display: none;
  }

  .headerList ul {
    height: 7vh;
  }

  .headerListing > .headerList {
    font-size: 18px;
    white-space: nowrap;
    padding-left: 20;
  }

  .buttons {
    display: none;
  }
}
