@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

/*===============CONTAINERS================*/
.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 14rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.container img {
  position: relative;
  width: 14rem;
  height: 18rem;
  border-radius: 10px;
  overflow-x: auto;

}

/*===============END OF CONTAINERS================*/

/*===============HERO================*/
.heroContent h1 {
  font-size: 60px;
  font-weight: 800;
  font-family: Poppins;
  max-width: 60%;
  padding-left: 100;
  position: relative;
  top: 100;

}

.heroContent p {
  font-size: 18px;
  font-weight: 400;
  font-family: Poppins;
  max-width: 35%;
  padding: 40;
  padding-left: 100;
  position: relative;
  top: 80;
}

.hero {
  display: flex;
  width: 100%;
  height: 80vh;
  background-size: cover;
  flex-direction: column;
}

.heroContent {
  color: var(--header-color);
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.moviePlay {
  color: var(--header-color);
  background: var(--secondary-color);
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 12%;
  height: 60;
  padding-left: 10;
}

#play {
  color: var(--header-color);
  position: absolute;
  font-size: 35px;
  width: 25px;
  height: 25px;
  left: 140;
}

.buttons {
  display: flex;
  /* padding-left: 100; */
  align-items: center;
  margin-left: 100;
}

#later {
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 16px;
  font-family: Poppins;
  color: var(--secondary-color);
  min-width: 12%;
  height: 60px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  display: flex;
  margin-left: 10;

}

/*===============END OF HERO================*/

/*===============HEADER================*/
.header {
  min-width: 70%;
  padding: 30px;
}

.headerListing>.headerList {
  font-size: 20px;
  font-weight: 600;
  top: 10px;
  gap: 50px;
  align-items: center;
  display: flex;
}

.headerListing li {
  display: flex;
  flex-direction: row;
  color: var(--header-color);
  align-items: center;
  display: flex;
}

.headerList ul {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 2.5px solid var(--header-color);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  padding: 5;
}

#tabs li button {
  text-decoration: none;
  color: var(--header-color);
  border-radius: 30px;
  transition: var(--header-color) 200ms ease-in-out;
  background-color: transparent;
  padding: 5;
}

#tabs {
  list-style: none;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  min-width: 25%;
  text-decoration: none;
}

#tabs>li {
  min-width: 24%;
}

#tabs>li button:hover,
#tabs>li button:focus {
  background: var(--header-color);
  color: var(--color-bg-variant);
  width: 100%;
  transition: width 200ms ease-in-out;
  /* Adjust the transition property */
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 40px;
  margin: 0;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    display: flex;
    max-width: 100%;
    z-index: -1;
  }

  .heroContent h1 {
    display: none;
  }

  .heroContent p {
    display: none;
  }

  .buttons {
    display: none;
  }

  #later {
    display: none;
  }

  .header {
    display: none;
  }

  .hero {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 40vh;
    background-size: cover;
  }

  .heroContent h1 {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 14rem;
    margin-top: -30;
  }

  .container img {
    position: relative;
    width: 13rem;
    height: 16rem;
    border-radius: 8px;
    overflow-x: auto;
    margin-top: 30;
  }



}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header{
    padding: 0;
    width: 25px;
    margin-top: 20px;
  }
  .heroContent p{
    display: none;
  }
  .heroContent h1{
    display: none;
  }
  .headerList ul{
    height: 7vh;
  }
  .headerListing > .headerList {
    font-size: 18px;
    white-space: nowrap;
    padding-left: 20;
  }
  .buttons{
    display: none;
  }
}
