@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movieCard h5{
    font-size: 0.85rem;
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 3.5rem;
    width: 150%;
    margin-left: 0.1rem;
    margin-right: -11rem;
}
