* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 #videoplay{
    z-index: 1;
    color: var(--header-color);

    font-size: 5rem;
}

.videoCard{
position: absolute;
top: 20;
background-color: red;
}

