h2{
    color: white;
    padding: 30;
}

.latest-tv-shows img{
    position: absolute;
    width: 14rem;
    height: 300px;
    border-radius: 10px;
    overflow-x: auto;
    align-items: center;
  
}

.latest-tv-shows{
    padding: 30;
}