@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

#signup {
  --button-width: 280px;
  --button-img: 100px;
  --textbox-width: 100rem;

  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-signup img {
  width: 6rem;
  height: 6rem;
  margin: -3.5rem 0 0 4.8rem;
}

.signup-form {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 50px 80px;
  margin: 0.5rem 0 0 45rem;
  color: #333;
}
.column{
    flex-basis: 50%;
    flex-grow: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    min-height: inherit;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin: -6.5rem 0 -8rem 0;
}

#createAccount {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  margin: -2rem 0 -14rem -0.5rem;
}

.user-email {
  display: block;
  padding: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-dark);
  border-radius: 8px;
  font-family: Poppins;
  margin: 15rem 0 0 -2rem;
}

.signup-btn-link {
  display: flex;
  margin: -43rem 0 8rem 30rem;
  text-decoration: none;
  color: var(--color-bg-variant);
  font-weight: Poppins;
  font-weight: 700;
  font-size: 19px;
}

.signup-btn-link:hover{
  color: var(--color-secondary);
}

.button {
  background: linear-gradient(
    to right,
    rgba(159, 79, 107, 100),
    rgba(182, 77, 94, 100)
  );
  padding: 0.5rem 1rem;
  color: var(--header-color);
  border-radius: 3px;
  width: 10rem;
  height: 2.5rem;
  transition: outline 200ms;
  margin-top: -2.5rem;
  margin-left: -0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.signup-input-email {
  display: flex;
  border: 1px solid var(--color-dark);
  padding: 8px;
  border-radius: 5px;
  margin: -1rem 0 7rem -0.5rem;
  width: 20rem;
  text-indent: 7%;
}

.user-password {
  display: block;
  padding: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-dark);
  border-radius: 8px;
  font-family: Poppins;
  margin: -7rem 0 0 -2rem;
}

.signup-input-password {
  display: flex;
  border: 1px solid var(--color-dark);
  padding: 8px;
  border-radius: 5px;
  margin: -1rem 0 7rem -0.5rem;
  width: 20rem;
  text-indent: 7%;
}

.user-confirm {
  display: block;
  padding: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-dark);
  border-radius: 8px;
  font-family: Poppins;
  margin: -8rem 0 0 -2rem;
}

.signup-input-confirm {
  display: flex;
  border: 1px solid var(--color-dark);
  padding: 8px;
  border-radius: 5px;
  margin: -1rem 0 7rem -0.5rem;
  width: 20rem;
  text-indent: 7%;
}

#pwdEye {
  display: flex;
  color: var(--color-dark);
  margin: -8.8rem 0 9rem 17.5rem;
}

.content h1{
    margin: 25rem 0 0 5rem;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
}

.content p{
    margin-left: 5.2rem;
    font-family: Poppins;
}

.content{
  margin-left: -25rem;
}

#choose{
    display: flex;
    color: #ff6774;
    margin-left: -0.5rem;
    margin-top: -7.8rem;
    margin-bottom: 7.5rem;
    font-size: 12px;
}

#emailErr{
    display: flex;
    color: #ff6774;
    margin-left: -0.5rem;
    margin-top: -6.8rem;
    margin-bottom: 6.5rem;
    font-size: 12px;
}

#confirm{
    display: flex;
    color: #ff6774;
    margin-left: -0.5rem;
    margin-top: -6.8rem;
    margin-bottom: 5.5rem;
    font-size: 12px;
}

#log-image .left-side-image{
  display: flex;
  z-index: -1;
  width: 85%;
  height: 80vh;
  margin: -1rem 0 -30rem 7rem;
}