@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
  color: var(--header-color);
  z-index: 1;
  position: relative;
  bottom: 0;
  background-color: black;
  top: 0;
}

.nav-logo img {
  width: 70px;
  height: 70px;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  cursor: pointer;
}

.nav_toggler {
  cursor: pointer;
  display: none;
}

.nav_toggler div {
  width: 26px;
  height: 2px;
  margin: 0.4rem;
  background: var(--header-color);
}

.nav-item {
  font-weight: 600;
  font-size: 20px;
}

.nav-item-drop {
  font-weight: 400;
}

.nav-logo {
  position: relative;
  left: 0;
  justify-content: flex-start;
}

.subscription_btn {
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
  background-color: var(--header-color);
  padding: 12;
  padding-left: 30;
  padding-right: 30;
  border-radius: 8px;
}

.subscription_btn:hover {
  background-color: transparent;
  outline: 3px solid var(--header-color);
  color: var(--header-color);
  font-weight: 800;

}

.search-box input {
  background: var(--header-color);
  border-radius: 6px;
  border: 1px solid var(--header-color);
  height: 5vh;
  width: 30rem;
  text-indent: 10%;
}

.search-box input:focus {
  border: 2px;
  border-color: var(--color-dark);
}

#right-search {
  color: var(--color-dark);
  position: absolute;
  top: 28;
  background-color: transparent;
  margin-left: 12px;
  padding: 6;
}

.nav-item-drop {
  display: none;
  position: absolute;
  background-color: var(--header-color);
  min-width: 160px;
  z-index: 1;
}

.nav-item-drop:hover {
  position: relative;
  display: block;
  background-color: var(--header-color);
}

.nav-item-drop li {
  display: block;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
  }

  .nav>.nav_toggler {
    display: block;
    background: transparent;
  }

  .nav_menu {
    display: none;
  }

  .subscription_btn {
    display: none;
  }

  .search-wrapper input {
    max-width: 250px;
    text-indent: 15%;
    padding: 20;
    background-color: transparent;
    color: var(--header-color);
    border: none;
    font-family: Poppins;
  }

  .search-wrapper input:focus,
  .search-wrapper input:active{
    border: 1px solid var(--header-color);
  }

  #right-search {
    top: 11;
    opacity: 0.5;
  }
  #right-search:hover {
    top: 11;
    opacity: 1;
  }

  .search-btn img{
    width: 20px;
    height: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
  }

  .nav_menu {
    display: none;
  }

  .nav>.nav_toggler {
    display: block;
  }

  .search-wrapper input {
    max-width: 400px;
    text-indent: 8%;
    padding: 20;
  }

  .search-wrapper img {
    top: 20;
    opacity: 0.5;
  }

  .search-wrapper img:hover,
  .search-wrapper img:focus-visible{
    opacity: 1;
    color: "#DCDCDC";
  }

  .subscription_btn {
    color: var(--color-dark);
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    background-color: var(--header-color);
    padding: 10;
    border-radius: 8px;
  }
  .search-box {
    display: flex;
    flex-direction: row;
  }
}









li {
  list-style: none;
}

a {
  text-decoration: none;
}

button{
  background-color: transparent;
}