@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
  color: var(--header-color);
  z-index: 1;
  position: relative;
  bottom: 0;
  background-color: black;
  top: 0;
}

.nav-logo img {
  width: 70px;
  height: 70px;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  cursor: pointer;
}

.nav_toggler{
  cursor: pointer;
  display: none;
}

.nav_toggler div{
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: var(--header-color);
}

.nav-item {
  font-weight: 600;
  font-size: 20px;
}

.nav-item-drop {
  font-weight: 400;
}

.nav-logo {
  position: relative;
  left: 0;
  justify-content: flex-start;
}

.subscription_btn{
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
  background-color: var(--header-color);
  padding: 12;
  padding-left: 30;
  padding-right: 30;
  border-radius: 8px;
}

.subscription_btn:hover{
  background-color: transparent;
  outline: 3px solid var(--header-color);
  color: var(--header-color);
  font-weight: 800;

}

#search input {
  background: var(--header-color);
  border-radius: 6px;
  border: 1px solid var(--header-color);
  height: 5vh;
  width: 30rem;
  text-indent: 10%;
}

#right-search{
  color: var(--color-dark);
  position: absolute;
  top: 28;
  background-color: transparent;
  margin-left: 12px;
  padding: 6;
}

.nav-item-drop{
  display: none;
  position: absolute;
  background-color: var(--header-color);
  min-width: 160px;
  z-index: 1;
}

.nav-item-drop:hover{
  position: relative;
  display: block;
  background-color: var(--header-color);
}

.nav-item-drop li{
  display: block;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav_toggler{
    display: block;
  }

  .nav_menu{
    display: none;
  }

  .subscription_btn{
    display: none;
  }
}









li {
  list-style: none;
}

a {
  text-decoration: none;
}